@{
    ViewData["Title"] = "Home";
}


<div id="container">
    <div class="container">
        <div class="row">
            <!-- Left Part Start-->
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <h3 class="subtitle">Categories</h3>
                <div class="box-category">
                    <ul id="cat_accordion">
                        @foreach (var category in @ViewBag.categories)
                        {
                            <li>
                                <a asp-controller="Category" asp-action="Categories"
                                    asp-route-nom="@category.Nom.ToLower()">
                                    @category.Nom
                                </a>
                                <span class="down"></span>
                            </li>
                        }
                    </ul>
                </div>
            </aside>

            <!-- Left Part End-->
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <!-- Slideshow Start-->
                <div class="slideshow single-slider owl-carousel">
                    <div class="item">
                        <a href="#"><img class="img-responsive" src="image/slider/new_year.jpg"
                                style="width: 920px; height: 380px;" alt="banner 1" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img class="img-responsive" src="image/slider/free_shipping.jpg"
                                style="width: 920px; height: 380px;" alt="banner 2" /></a>
                    </div>
                    <div class="item">
                        <a href="#"><img class="img-responsive" src="image/slider/iphone15.jpg"
                                style="width: 920px; height: 380px;" alt="banner 3" /></a>
                    </div>
                </div>
                <!-- Slideshow End-->
                <!-- Featured Product Start-->
                <h3 class="subtitle">Featured</h3>
                <div class="owl-carousel product_carousel">
                    @foreach (var featuredProduct in @ViewBag.featuredProducts)
                    {
                        <div class="product-thumb clearfix">
                            <div class="image">
                                <a asp-controller="Product" asp-action="Product" asp-route-id="@featuredProduct.id">
                                    <img src="@featuredProduct.loadImages()[0]" class="img-responsive" />
                                </a>
                            </div>
                            <div class="caption">
                                <h4>
                                    <a asp-controller="Product" asp-action="Product"
                                        asp-route-id="@featuredProduct.id">@featuredProduct.titre</a>
                                </h4>
                                <p class="price">
                                    <span class="price-new">$@featuredProduct.prix</span>
                                    <span class="price-old">$@featuredProduct.compare_prix</span>
                                </p>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick="addToCart(@featuredProduct.id, '@featuredProduct.titre', '@featuredProduct.loadImages()[0]', @featuredProduct.prix);">
                                    <span>Add to Cart</span>
                                </button>
                            </div>
                        </div>
                    }
                </div>
                <!-- Featured Product End-->
                <!-- Banner Start-->
                <!-- Banner End-->
            </div>
            <!--Middle Part End-->
        </div>
    </div>
</div>
