@{
    ViewData["Title"] = "Category";
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="@Url.RouteUrl("home")"><i class="fa fa-home"></i></a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <h3 class="subtitle">Categories</h3>
                <div class="box-category">
                    <ul id="cat_accordion">
                        @foreach (var category in @ViewBag.categories)
                        {
                            <li>
                                <a asp-controller="Category" asp-action="Categories"
                                    asp-route-nom="@category.Nom.ToLower()">@category.Nom</a> <span class="down"></span>
                            </li>
                        }
                    </ul>
                </div>
            </aside>
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h1 class="title">@ViewBag.categoryName</h1>
                <div class="product-filter">
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            <div class="btn-group">
                                <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip"
                                    title="List"><i class="fa fa-th-list"></i></button>
                                <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip"
                                    title="Grid"><i class="fa fa-th"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-2 text-right">
                            <label class="control-label" for="input-sort">Sort By:</label>
                        </div>
                        <div class="col-md-3 col-sm-2 text-right">
                            <select id="input-sort" class="form-control col-sm-3">
                                <option value="" selected="selected">Default</option>
                                <option value="">Name (A - Z)</option>
                                <option value="">Name (Z - A)</option>
                                <option value="">Price (Low &gt; High)</option>
                                <option value="">Price (High &gt; Low)</option>
                                <option value="">Rating (Highest)</option>
                                <option value="">Rating (Lowest)</option>
                                <option value="">Model (A - Z)</option>
                                <option value="">Model (Z - A)</option>
                            </select>
                        </div>
                        <div class="col-sm-1 text-right">
                            <label class="control-label" for="input-limit">Show:</label>
                        </div>
                        <div class="col-sm-2 text-right">
                            <select id="input-limit" class="form-control">
                                <option value="" selected="selected">20</option>
                                <option value="">25</option>
                                <option value="">50</option>
                                <option value="">75</option>
                                <option value="">100</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row products-category">
                    @if(@ViewBag.products.Count != 0)
                    {
                        @foreach (var product in @ViewBag.products)
                        {
                            <div class="product-layout product-list col-xs-12">
                                <div class="product-thumb">
                                    <div class="image">
                                        <a asp-controller="Product" asp-action="Product" asp-route-id="@product.id">
                                            <img src=@product.loadImages()[0] class="img-responsive" />
                                        </a>
                                    </div>
                                    <div>
                                        <div class="caption">
                                            <h4>
                                                <a href="@Url.RouteUrl("product")"> @product.titre</a>
                                            </h4>
                                            <p class="price">
                                                <span class="price-new">$ @product.prix</span>
                                                <span class="price-old">$ @product.compare_prix</span>
                                            </p>
                                        </div>
                                        <div class="button-group">
                                            <button class="btn-primary" type="button" onClick="addToCart(@product.id, '@product.titre', '@product.loadImages()[0]', @product.prix);">
                                                <span>Add to Cart</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    } else {
                        <h2 class="title">No products available</h2>
                    } 
                </div>
                <!--
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <ul class="pagination">
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">&gt;</a></li>
                            <li><a href="#">&gt;|</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right">Showing 1 to 12 of 15 (2 Pages)</div>
                </div>
                 -->
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>
